*,
body {
  font-family: ibm-plex-mono, sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 2rem;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #25282A;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

body {
  background-color: #F7F2EB;
}

body::-webkit-scrollbar {
  display: none;
}



.color {
  color: #25282A;
  color: #1717AF;
  color: #c5a689;
  color: #F4C3CB;
  color: #F7F2EB;
  color: #FFF;
}

.space1 {
  height: 25px;
}

.space2 {
  height: 50px;
}

.space3 {
  height: 100px;
}

.space4 {
  height: 150px;
}


#main_container {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-family: freight-sans-compressed-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 3.3rem;
  line-height: 3rem;
  margin: 10px 0;
}

h1 span {
  font-weight: 400;
  text-transform: capitalize;
}

h2 {
  font-family: freight-sans-compressed-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 1.5rem;
  color: #1717AF;
}

h2 span {
  font-weight: 400;
  text-transform: capitalize;
  color: #1717AF;
}

h3 {
  font-weight: 400;
  font-size: 1rem;
}

p,
button {
  font-weight: 400;
  font-size: 1rem;
  margin: 5px 0;
}

button {
  background-color: #1717AF;
  border: none;
  color: #fff;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  margin: 10px 10px 30px 0;
  transition: .2s;
  transition-timing-function: steps(2, jump-start);
  border: 1px solid #1717AF;
}

button:hover {
  transition: .2s;
  transition-timing-function: steps(2, jump-start);
  background-color: #1717AF;
  border: 1px solid #1717AF;
  transform: translateY(5px);
}

#sorter_section .valgt {
  background-color: #F4C3CB;
  color: #25282A;
  transform: scale(1);
  transition: .2s;
  transition-timing-function: steps(2, jump-start);
  background-color: #F4C3CB;
  border: 1px solid #1717AF;
  transition: .05s;
}

button:focus {
  outline: 0;
}





#space_top {
  height: 20px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}

.spacing1 {
  height: 100px;
  width: 10px;
}

#title,
#title span {
  font-size: 8rem;
  line-height: 12rem;
  color: #F4C3CB;
  position: relative;
  text-shadow: 0px 0px 20px rgba(126, 39, 35, 0.7);
}

#nav_bg {
  width: 100%;
  height: calc(100vh + 4rem);
  position: fixed;
  z-index: 30;
  top: -100vh;
  left: 0;
  background-color: #1717AF;
}

header {
  z-index: 40;
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  transform: translateX(-20px);
}

nav {
  display: flex;
  justify-content: space-between;
  opacity: 1;
  flex-direction: row;
  left: 0;
}

#nav1 {
  width: 50px;
  height: 40px;
  background-image: url(billeder/logo/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 14px 0 10px 0;
}

#nav1 p {
  color: #F4C3CB;
  line-height: 1rem;
  transform: translate(60px, 0px);
  font-weight: 200;
}

#nav2 a {
  padding: 16px 0;
  height: 100%;
  color: #F4C3CB;
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 50px;
  border-bottom: 0px solid #25282A;
  background-color: #1717AF;
  transition: .2s;
  transition-timing-function: steps(2, jump-start);
}

#nav2 a:hover {
  color: #fff;
}

#nav3 {
  display: none;
}

.dropdown a,
.show {
  display: block;
}

#nav2 div {
  display: inline-block;
}

.dropdown {
  position: fixed;
  z-index: -10;
  transform: translate(-10px, -175px);
  transition: .3s;
  transition-timing-function: steps(5, jump-start);
}

#nav2 .dropdown a {
  background-color: #1717AF;
  padding: 0px 50px 10px 12px;
  font-size: 1.3rem;
}

.dropdown_wrap:hover .dropdown {
  transform: translate(-10px, -5px);
}

.dropdown:hover {
  transform: translate(-10px, -5px);
}











.img_overlay {
  width: 100%;
  height: 600px;
  background-image: radial-gradient(#1717AF 13%, transparent 13%),
    radial-gradient(#1717AF 13%, transparent 13%);
  background-size: 10px 10px;
  background-position: 0 0, 30px 30px;
  transition: .2s;
  transition-timing-function: steps(2, jump-start);
  position: relative;
  z-index: -10;
  margin-top: -620px;
  margin-bottom: 0;
  transform: translate(20px, 620px);
  padding: 0;
}

#ret_billede {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: .2s;
  transition-timing-function: steps(2, jump-start);
  border: 1px solid #1717AF;
}

#ret_tekst {
  padding: 10px;
  margin-top: 10px;
  transition: .2s;
  transition-timing-function: steps(2, jump-start);
  background-color: #fff;
  border: 1px solid #1717AF;
}

.article_toej {
  display: flex;
  flex-direction: column;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

.article_toej:hover .img_overlay {
  background-size: 10px 10px;
}

.article_toej:nth-child(4n+0):hover .img_overlay {
  transform: translate(0px, 610px);
}

.article_toej:nth-child(4n+1):hover .img_overlay {
  transform: translate(-20px, 620px);
}

.article_toej:nth-child(4n+2):hover .img_overlay {
  transform: translate(10px, 610px);
}

.article_toej:nth-child(4n+3):hover .img_overlay {
  transform: translate(-10px, 620px);
}

.article_toej:nth-child(4n+0):hover #ret_billede {
  transform: translate(-20px, 10px);
}

.article_toej:nth-child(4n+1):hover #ret_billede {
  transform: translate(10px, 20px);
}

.article_toej:nth-child(4n+2):hover #ret_billede {
  transform: translate(-10px, 10px);
}

.article_toej:nth-child(4n+3):hover #ret_billede {
  transform: translate(20px, 20px);
}

.article_toej:nth-child(4n+0):hover #ret_tekst {
  transform: translate(10px, -20px);
}

.article_toej:nth-child(4n+1):hover #ret_tekst {
  transform: translate(-10px, -10px);
}

.article_toej:nth-child(4n+2):hover #ret_tekst {
  transform: translate(10px, -20px);
}

.article_toej:nth-child(4n+3):hover #ret_tekst {
  transform: translate(-20px, -10px);
}

.article_toej:nth-child(4n+0):hover #pris {
  transform: translate(10px, -35px);
}

.article_toej:nth-child(4n+1):hover #pris {
  transform: translate(20px, -35px);
}

.article_toej:nth-child(4n+2):hover #pris {
  transform: translate(-10px, -35px);
}

.article_toej:nth-child(4n+3):hover #pris {
  transform: translate(20px, -45px);
}

#pris {
  text-align: center;
  padding: 5px 15px 10px 15px;
  margin: 0 10px 50px 10px;
  margin-bottom: 50px;
  color: #F4C3CB;
  background-color: #1717AF;
  transform: rotate(0deg) translate(-0px, -15px);
  transition: .2s;
  transition-timing-function: steps(2, jump-start);
  align-self: flex-end;
  z-index: 1;
}

#data_fill {
  max-width: 1200px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px 100px;
}


.kollektion {
  margin-bottom: 40px;
}

.ret_billede {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: .2s;
  transition-timing-function: steps(2, jump-start);
  border: 1px solid #1717AF;
}

.ret_billede1 {
  background-image: url(img/small/laederjakke-sm.JPG);
}

.ret_billede2 {
  background-image: url(img/small/jakke-sm.jpg);
}

.ret_billede3 {
  background-image: url(img/small/kjole-sm.jpg);
}

.ret_billede4 {
  background-image: url(img/small/priktop-sm.jpg);
}

.margin_kategori {
  margin-bottom: 50px;
}

.ret_tekst {
  padding: 10px;
  margin-top: 10px;
  transition: .2s;
  transition-timing-function: steps(2, jump-start);
  background-color: #fff;
  border: 1px solid #1717AF;
}

#toej_section .data_fill_class {
  max-width: 1200px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 0px 30px;
}

.filter:hover .ret_billede {
  transform: translate(0, 5px);
}

.filter:hover .ret_tekst {
  transform: translate(0, -10px);
}




#menu_section {
  width: 33%;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 50px 0;
  opacity: .5;
}







.ret_popup {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(220px, 1fr));
  grid-gap: 20px;
}

#popup_billede {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 800px;
  border: 1px solid #1717AF;
}

.img_detail_wrap {}

.tekst_detail_wrap {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #1717AF;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  grid-column: span 2;
}

#popup_lang {
  font-size: 1.5rem;
}

#popup_navn {
  font-size: 4.3rem;
  line-height: 5rem;
}

#popup_navn span {
  font-size: 5rem;
}

.pris_button_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  height: 100%;
}

#popup_pris {
  padding: 50px 0 15px 0;
  background-color: #fff;
  font-size: 1.5rem;
  align-self: flex-end;
  margin: 0;
}

#popup_button_tilbage {
  width: 200px;
  align-self: flex-end;
  margin: 0;
  background-color: #fff;
  border: 1px solid #1717AF;
  color: #1717AF;
}

#popup_button_kurv {
  width: 200px;
  align-self: flex-end;
  margin: 10px 0 0 0;
}








#menu_aabning_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

#menu_section,
#aabning_section {
  flex-grow: 1;
  flex-basis: 300px;
}

li {
  list-style: none;
}

footer {
  width: 100%;
  background-color: #F4C3CB;
  border: 1px solid #1717AF;
  padding: 10px;
  margin-top: 100px;
}

footer h2 {
  margin: 10px 0;
}

footer p {
  margin-top: 0px;
}

.burger_down {
  animation: burger_down-kf .4s steps(6, jump-start) both;
}

@keyframes burger_down-kf {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(100vh - 4rem));
  }
}

.burger_up {
  animation: burger_up-kf .4s steps(6, jump-start) both;
}

@keyframes burger_up-kf {
  0% {
    transform: translateY(calc(100vh - 4rem));
  }

  100% {
    transform: translateY(0);
  }
}





/*-------SPLASH-------*/

.splash_wrap {
  width: 100vw;
  height: 100vh;
  background-color: #F4C3CB;
}

.splash_1200 {
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup_box1 {
  width: 70vw;
  max-width: 840px;
  height: 30vh;
  transform: translate(0, 10vh);
  background-color: #1717AF;
  position: absolute;
  border: 1px solid #1717AF;
}

.popup_top1 {
  width: 100%;
  background-color: #fff;
}

.popup_box2 {
  width: 50vw;
  max-width: 600px;
  height: 55vh;
  transform: translate(0, 30vh);
  position: absolute;
  align-self: flex-end;
}

.popup_top2 {
  width: 100%;
  background-color: #fff;
  border: 1px solid #1717AF;
  border-bottom: 0px solid #1717AF;
  display: flex;
  justify-content: space-between;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #1717AF;
  border-radius: 10px;
  display: inline-block;
  margin: 10px -10px 5px 10px;
}

.popup_container2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #1717AF;
}

.splash_title {
  overflow: hidden;
}

.splash_title h2 {
  font-size: 3rem;
  line-height: 3rem;
  transform: translateY(8vh);
}

.splash_title h2 span {
  font-family: ibm-plex-mono, sans-serif;
  font-weight: 300;
  font-style: italic;
  text-transform: lowercase;
}

.link_title p {
  color: #fff;
  text-align: center;
}

.link_title2 p {
  color: #1717AF;
  margin: 15px 20px 0 0;
  font-size: 1rem;
  line-height: 0;
}

.loading {
  background-color: #fff;
  width: 30vw;
  overflow: hidden;
  align-self: flex-start;
}

.loading p {
  font-size: 2rem;
  font-weight: 600;
  padding: 10px 100px 10px 30px;
  color: #1717AF;
}

.popup_container1 {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.loading_ani {
  animation: loading_ani-kf 2s steps(6, jump-start) infinite both;
}

@keyframes loading_ani-kf {
  0% {
    width: 0px;
  }

  100% {
    width: 40vw;
  }
}

.ss_ani {
  animation: ss_ani-kf 2s steps(6, jump-start) infinite both;
}

@keyframes ss_ani-kf {
  0% {
    height: 80px;
  }

  100% {
    height: 380px;
  }
}

.img_overlay2 {
  height: 820px;
  margin-top: -820px;
  transform: translate(20px, 820px);
}

.img_overlay3 {
  transform: translate(20px, 550px);
  height: 570px;
}

.img_overlay4 {
  transform: translate(-20px, 335px);
  height: 300px;
}

.img_overlay5 {
  transform: translate(20px, 170px);
  height: 450px;
  margin-bottom: 200px;
}





/*------ om os ------*/

.omos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
  grid-gap: 20px;
}

.os_billede {
  height: 70vw;
  background-image: url(img/omos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 700px;
  border: 1px solid #1717AF;
}

.os_wrapper {
  grid-column: span 2;
}

.os_txt {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #1717AF;
}


/*----------KlIMA OPLYSNINGER-------------*/


#klima_oplysninger {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 0px 100px;
}

.box_klima {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.klima_img {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.klima_img1 {
  background-image: url(img/bil.svg);
}

.klima_img2 {
  background-image: url(img/vask.svg);
}

.klima_img3 {
  background-image: url(img/fisk.svg);
}

.klima_txt {
  text-align: center;
}





/*-------pil -------*/



.beat {
  animation-name: beat_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

b .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.arrow_wrap {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  transform: translateY(-8vh);
}

.arrow_small {
  position: absolute;
  width: 50px;
}

.beat {
  animation-name: beat_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(3);

}

@keyframes beat_kf {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}


/*-------CURSOR---------*/
#pointer-dot,
#pointer-ring {
  visibility: hidden;
}

@media screen and (min-width: 1000px) {
  #pointer-dot {
    visibility: visible;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 2px solid #1717AF;
    position: fixed;
    z-index: 81;
    pointer-events: none;
    transition: border-radius 0.5s;
    transition-timing-function: steps(5, jump-start);
  }

  #pointer-ring {
    visibility: visible;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 2px solid #1717AF;
    position: fixed;
    z-index: 80;
    pointer-events: none;
    transition: border-radius 0.5s;
    transition-timing-function: steps(5, jump-start);
  }

  html {
    cursor: none;
  }

  a {
    cursor: none;
  }

  button {
    cursor: none;
  }

  button:hover {
    cursor: none;
  }
}


/*--------INTRO OUTRO---------*/

#intro_holder {
  width: 100vw;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(10, minmax(200px, 1fr));
  grid-gap: 0px;
  z-index: 99;
  position: fixed;
  transform-origin: bottom right;
  visibility: hidden;
}

#intro_holder article {
  background-color: #1717AF;
  height: 200px;
  visibility: visible;
}

.article_out_ani {
  animation: article_out_ani-kf .5s steps(5) both;
}

@keyframes article_out_ani-kf {
  0% {
    visibility: visible;
    width: 100%;
    transform: rotate(0deg) translate(0);
  }

  99% {
    width: 0%;
    transform: rotate(450deg) scale(7, 2);
  }

  100% {
    visibility: hidden;
  }
}

.article_in_ani {
  animation: article_in_ani-kf .5s steps(5) both;
}

@keyframes article_in_ani-kf {
  0% {
    visibility: visible;
    width: 0%;
    transform: rotate(450deg) scale(7, 2);
  }

  100% {
    width: 100%;
    transform: rotate(0deg) translate(0);
  }
}




@media screen and (max-width: 1000px) {

  h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 20px;
  }

  h1 span {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.7rem;
    line-height: 1.5rem;
    margin-top: 10px;
  }

  h2 span {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  p,
  button {
    font-size: 1rem;
    margin: 5px 0;
  }

  button {
    padding: 8px 15px;
    font-size: 1.3rem;
    margin: 5px 10px 5px 0;
  }



  #title,
  #title span {
    font-size: 4rem;
    line-height: 4rem;
  }

  #data_fill {
    grid-gap: 0px 60px;
  }

  .article_toej:nth-child(odd):hover #ret_billede {
    transform: scale(1) rotate(0) translateY(0);
  }

  .article_toej:nth-child(even):hover #ret_billede {
    transform: scale(1) rotate(0) translateY(0);
  }

  .article_toej:nth-child(odd):hover #ret_tekst {
    transform: scale(1) rotate(0) translateY(0);
  }

  .article_toej:nth-child(even):hover #ret_tekst {
    transform: scale(1) rotate(0) translateY(0);
  }

  .article_toej:nth-child(odd):hover #pris {
    transform: rotate(0) translateY(-20px);
  }

  .article_toej:nth-child(even):hover #pris {
    transform: rotate(0) translateY(-20px);
  }

  .article_toej:nth-child(4n+0):hover .img_overlay {
    transform: translate(0, 620px);
  }

  .article_toej:nth-child(4n+1):hover .img_overlay {
    transform: translate(0, 620px);
  }

  .article_toej:nth-child(4n+2):hover .img_overlay {
    transform: translate(0, 620px);
  }

  .article_toej:nth-child(4n+3):hover .img_overlay {
    transform: translate(0, 620px);
  }

  #pris {
    transform: rotate(0deg) translateY(-20px);
  }

  #burger {
    background-image: url(billeder/logo/SVG/burger_menu.svg);
    width: 30px;
    height: 30px;
    margin-top: 13px;
    background-repeat: no-repeat;
    transform: translate(2px, 3px);
  }

  #nav2 a {
    display: none;
  }

  #nav3 {
    position: fixed;
    top: -320px;
    right: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
  }

  #nav3 a {
    flex-basis: 10000px;
    text-align: end;
    color: #F4C3CB;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 3rem;
  }

  #nav3 .under_kategori {
    margin-right: 10px;
    text-align: end;
    font-size: 1.1rem;
    line-height: 2rem;
  }

  #title,
  #title span {
    transform: translateY(-50px);
  }

  .link_title2 p {
    display: none;
  }

  .splash_1200 {
    margin: 0;
  }

  .splash_title h2 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .loading p {
    font-size: 1.5rem;
    padding-left: 10px;
  }

  .omos,
  .ret_popup {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 0;
  }

  #popup_lang {
    font-size: 1rem;
  }

  #popup_navn {
    font-size: 3rem;
    line-height: 3rem;
  }

  #popup_navn span {
    font-size: 3rem;
  }

  #intro_holder {
    grid-template-columns: repeat(10, minmax(100px, 1fr));
  }

  #intro_holder article {
    height: 100px;
  }
}
