* {
    margin: 0;
    box-sizing: border-box;

}

body {
    margin: none;
    background-color: #F2F1F0;
}

#udskriv {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5px;
}

#kategori {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

#passion{


}


#kategori,
h1 {
    padding-top: 30px;
    text-align: center;
}

h1 {
    font-family: 'Tomorrow', bold;
}

p {
    font-family: input-sans, sans-serif;

    font-weight: 400;

    font-style: normal;
}


img {
    width: 100%;
    object-fit: cover;

}

.valgt {
    color: aqua;
}



nav {
    text-align: center;
    padding: 60px;
}



.hidden {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
}

#menuknap {
    display: inline-block;
    color: #ef9ea0;
    margin: 0.5rem;
}

#dropdown {

    top: 10vw;
    right: 27vw;
    display: block;

}


#logo {
    background-image: url(logo/logo.svg);
    height: 12vw;
    width: 9vw;
    background-size: cover;
    position: absolute;
    top: -0.5vw;
    left: 0vw;
}

header {
    width: 100vw;
    background-color: #F2F1F0;
    position: fixed;
    z-index: 100;

}


@media only screen and (min-width:800px) {

    #logo {

        height: 6vw;
        width: 8vw;
        background-image: url(logo/logo.svg);
        background-size: cover;
        position: absolute;
        top: 0vw;
        left: 0vw;
    }
}



header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;

}


header nav a {
    text-decoration: none;
    text-transform: uppercase;

}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #F2F1F0;
    padding: 0.5vw;


}

nav ul li:hover ul {
    display: block;

}


header a {
    padding: 0.5rem;
    display: flex;
    color: #ef9ea0;
}


header a:hover {
    color: orange;
}



/**** media indstillinger **/

@media only screen and (min-width:800px) {

    #menuknap {
        display: none;
        color: #ef9ea0;
    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
        display: inline-block;
    }

    header li {
        display: inline-block;
        letter-spacing: 1px;

    }

    header nav {
        padding: 0.1rem;
    }


    header nav li {
        padding: 0.3rem;

        margin: 0.8rem;
        text-decoration: none;
        color: ;

        padding-top: 0vw;

    }

    header a:hover {
        color: orange;
    }

    #dropdown {
        display: none;
        top: 3.5vw;
        right: 8.5vw;
        position: absolute;

    }

    header nav li:hover #dropdown {
        display: flex;
        flex-direction: column;


    }


}
